.dashboard-table {
    width: 80% !important;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.dash-card {
  width: auto;
  border: 2px solid #41A4F0 !important;
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}