.dashboard-table {
    width: 80% !important;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

.dash-card {
  width: auto;
  border: 2px solid #41A4F0 !important;
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.pagination {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.headings {
  font-weight: 500 !important;
}

.data-row {
  font-weight: 400;
}

.data-link {
  text-decoration: none !important;
  color: #41A4F0;
}

.data-link:hover {
  color: #F05D59;
}