table {
    border-color: black;
}

.current-products {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
    margin-bottom: 2.5rem !important;
    border: 2px solid #41A4F0 !important;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.recent-entries-text {
    font-weight: 400;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.product-table {
    margin-bottom: 2.5rem !important;
}

.fa-book-open {
    margin-right: 1.5rem;
    color: #41A4F0;
}

.headings {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

.body {
    /* font-family: 'Montserrat', sans-serif !important; */
    font-weight: 400;
}

.current-text {
    margin-left: 1.5rem;
}
