.dash-main {
  text-align: center;
  width: 100%;
  margin: 0 !important;
  background-color: #DCDCDC;
}

.head-row {
  width: 100%;
  margin: 0 !important;
  padding-bottom: 2.5rem;
}

.dash-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter !important;
}

.dash-message {
  background-color: #DCDCDC;
  padding: .5rem .5rem .5rem .5rem;
  margin: 0;
  font-weight: 500 !important;
}

.dash-row {
  width: 100%;
  margin: 0 !important;
  padding: 0;
}

.dash-col {
  max-width: 40% !important;
  
}

.dash-table-row {
  width: 100%;
  margin: 0 !important;
}

.dash-table-col {
  width: 100%;
  padding: 0 !important;
}

.fa-tachometer-alt {
  margin: 1rem 0 1.5rem 0;
  color: #41A4F0;
}