.load-row {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/10/03/12/pattern-2054297_1280.jpg');
    width: 100%;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important; 
}

.load-container {
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.load-col {
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.fa-spinner {
    color: #F05D59;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}