.load-row {
    background-color: #ffe5d9;
    width: 100%;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important; 
}

.load-container {
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.load-col {
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.fa-spinner {
    color: #246CA3;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}