.card {
    padding: 0.9375rem;
    margin: 1rem 1rem 1rem 2rem;
}

.view-data-card {
    min-height: 200px;
    max-height: fit-content;
    width: max-content;
    min-width: 400px;
    border: 2px solid #41A4F0 !important;
}

.display-4 {
    padding-left: 0 !important;
    margin-left: 2rem !important;
}

p {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2rem;
}

.card-heading {
    padding-bottom: 1rem;
}

.card.text {
    padding-bottom: .5rem;
}