.card {
    padding: 0.9375rem;
    /* margin: 2rem; */
}

.view-data-card {
    min-height: 200px;
    max-height: fit-content;
    width: max-content;
}

.display-4 {
    padding-left: 0 !important;
}

h1, p {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5rem;
}

.card-heading {
    padding-bottom: 1rem;
}

.card.text {
    padding-bottom: .5rem;
}