.card {
    padding: 0.9375rem;
    margin: 2rem;
}

.view-data-card {
    min-height: 350px;
    width: max-content;
}

.display-d {
    margin-left: 0 !important;
}

h1, p {
    font-family: 'Montserrat', sans-serif !important;
}