.welcome-main {
    text-align: center;
}

.welcome-message {
    background-color: #F5F5F5;
    padding: .5rem .5rem .5rem .5rem;
    margin: 0;
    font-weight: lighter !important;
    font-family: 'Montserrat', sans-serif;
}

.user {
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    margin-top: .5rem;
}

.welcome-text {
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter !important;
}

.welcome-cards {
    width: 100%;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    
}

hr {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.recent-entries-text {
    margin-top: 1.5rem;
}

.welcome-table-row {
    width: 100%;
    margin: 0 !important;
    padding-top: 2rem;
}

.welcome-table-col {
    width: 100% !important;
}