.sidebar-menu-item {
    color: #F5F5F5;
    font-size: large;
    font-family: 'Cinzel', serif;
}

.sidebar-menu-item:hover {
    color: #F05D59;
    
}

.sidebar-img {
    border-radius: 50%;
}

.user-info {
    text-align: center;
    max-width: inherit;
}

.menu-list {
    padding: 2rem 0 0 2.5rem;
}

.fa-chevron-circle-down {
    transform: rotate(270deg);
    margin-right: .5rem;
}