.sidebar-item {
    position: sticky;
    margin-left: 0;
	top: 0;
	left: 0;
	width: 100%;
    min-height: 100%;
    background-color: #41A4F0;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
      
    padding: 0 15px;
}

.sidebar-menu-item {
    color: white;
    font-size: large;
}

.sidebar-menu-item:hover {
    color: #246CA3;
}

.sidebar-img {
    border-radius: 50%;
}