* {
    margin: 0;
}

.container-fluid {
    /* min-height: 100% !important; */
    padding: 0 !important;
    margin: 0 !important;
}

.nav-color {
    background-color: #41A4F0;
    color: white;
    position: sticky;
    z-index: 1 !important;
}

.main-screen {
    height: 100% !important;
    background-image: url('https://cdn.pixabay.com/photo/2017/02/10/03/12/pattern-2054297_1280.jpg') !important;
}

.main-screen {
    min-height: 100%;
    
    width: 100vw;
    
    
}