* {
    margin: 0;
}

.container-fluid {
    min-height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.nav-color {
    background-color: #246CA3;
    color: white;
    position: sticky;
    z-index: 1 !important;
}

.main-screen {
    min-height: 100%;
    
    width: 100vw;
    
    
}